{% extends "layout.html" %} {% block content %}
<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <h1> . </h1>
    <h1> Welcome to our library </h1>
</div>
<div class="spinner-border" style="width: 3rem; height: 3rem;padding-left: 88px;margin-left: 342px;border-top-width: 0px;padding-top: 21px;margin-top: 250px;" role="status">
    <h1> . </h1>
    <h1> Welcome to our library </h1>
</div>
<div class="spinner-grow" style="width: 3rem;margin-left: 342px; height: 3rem;" role="status">
    <h1> . </h1>
    <h1> Welcome to our library </h1>
</div>
{% endblock content %}