{% extends "layout.html" %} {% block content %}
<h1> List of books </h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">Isbn</th>
            <th scope="col">Borrow</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        {% if post.active > 0%}
        <tr>
            <th scope="" row>{{post.uid}}</th>
            <td>{{post.title}}</td>
            <td>{{post.author.fullname}}</td>
            <td>{{post.category.name}}</td>
            <td>{{post.isbn}}</td>
            {% if post.active > 0 %}
            <td>
                <form action="/borrow_a_book/{{post.uid}}" method="post">
                    <button type="sumbit" value="{{post.uid}}" class="btn btn-outline-success">Borrow</button>
                </form>
            </td>
            {% else %}
            <td> <button type="button" class="btn btn-outline-dark">Return</button></td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="toggle_display()">Add new Book</button>
<div class="content-section" style="visibility: hidden;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.category.label(class="form-control-label") }}
                {{ form.category(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.author.label(class="form-control-label") }}
                {{ form.author(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.isbn.label(class="form-control-label") }}
                {% if form.isbn.errors %}
                {{ form.isbn(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.isbn.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.isbn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock content %}